.home___main {
  padding-top: 6rem;
  min-height: 150vh;
  background: rgba(244, 242, 242, 1);
  /*   background: linear-gradient(
    180deg,
    rgba(253, 90, 89, 1) 0%,
    rgba(244, 242, 242, 1) 30%
  ); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5% 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media screen and (max-width: 950px) {
  .home___main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 720px) {
  .home___main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 470px) {
  .home___main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.filter___main {
  grid-area: 1 / 1 / 2 / 3;
}
.search___main {
  grid-area: 1 / 3 / 2 / 4;
}
.list____main {
  grid-area: 2 / 1 / 3 / 4;
}
.list___main {
  grid-area: 2 / 1 / 3 / 4;
}
