.home___main {
  padding-top: 6rem;
  height: 150vh;
  max-height: 300vh;
  min-height: 120vh;
  background: rgba(244, 242, 242, 1);
/*   background: linear-gradient(
    180deg,
    rgba(253, 90, 89, 1) 0%,
    rgba(244, 242, 242, 1) 30%
  ); */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5% 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.filter___main {
  grid-area: 1 / 1 / 2 / 3;
}
.search___main {
  grid-area: 1 / 3 / 2 / 4;
}
.list____main {
  grid-area: 2 / 1 / 3 / 4;
}
.list___main { grid-area: 2 / 1 / 3 / 4; }
