.filter___main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* @media screen and (max-width: 470px) {
  .filter___main {
    flex-direction: column;
  }
} */
.filter___weight-control,
.filter___alphabect-control,
.filter___temperaments-control {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}
.filter___weight-control button,
.filter___alphabect-control button {
  display: inline-block;
  /*  margin: 0.2rem; */
  border: 1px solid rgb(220 220 220 / 60%);
  margin-right: 0;
  border-radius: 0 8px 8px 0;
}
.filter___weight-control button:first-child,
.filter___alphabect-control button:first-child {
  border-radius: 8px 0 0 8px;
}
.filter___temperaments-control select {
  color: #141110;
  background-color: #f4f2f2;
  border: none;
  border: 1px solid rgb(220 220 220 / 60%);
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
  padding: 0.72rem 0.5rem;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  border-radius: 8px;
  display: inline-block;
}
.filter___temperaments-control select:focus-visible {
  outline: #f1a9a9 auto 1px;
}
.filter___weight-control label,
.filter___alphabect-control label,
.filter___temperaments-control label {
  margin-bottom: 1rem;
}
