.hero___container {
  height: 90vh;
  background: #fd5a59;
  background: linear-gradient(
    180deg,
    rgba(253, 90, 89, 1) 0%,
    rgba(244, 242, 242, 1) 100%
  );
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;

  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  padding-top: 5rem;
}
@media screen and (max-width: 720px) {
  .hero___container {
    grid-template-rows: repeat(2, 50%);
    /*     grid-template-rows: 70% 30%; */
    grid-template-columns: 1fr;
  } 
}
@media screen and (max-width: 470px) {
  .hero___container {
    grid-template-rows: repeat(2, 50%);
    /*     grid-template-rows: 70% 30%; */
    grid-template-columns: 1fr;
  }
}
.hero___right-section-container {
  padding-left: 3rem;
}
@media screen and (max-width: 720px) {
  .hero___right-section-container {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 470px) {
  .hero___right-section-container {
    padding-left: 0rem;
  }
}
.hero___right-section-container h1 {
  color: #f4f2f2;
  font-size: 12rem;
  line-height: 13rem;
  margin: 0;
}
@media screen and (max-width: 720px) {
  .hero___right-section-container h1 {
    font-size: 8rem;
    line-height: 9rem;
  }
}
@media screen and (max-width: 470px) {
  .hero___right-section-container h1 {
    font-size: 8rem;
    line-height: 9rem;
  }
}
.btn___primary {
  margin-right: 1rem;
}
.hero___container .btn___hightlight {
  margin-top: 3rem;
}
@media screen and (max-width: 720px) {
  .hero___container .btn___hightlight {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}
.hero___left-section-container {
  align-self: end;
  overflow: hidden;
  box-sizing: border-box;
}

.hero___left-section-container img {
  height: 40rem;
}
.hero___left-section-container img {
  height: 40rem;
}
@media screen and (max-width: 720px) {
  .hero___left-section-container img {
    height: 22rem;
  }
}
@media screen and (max-width: 470px) {
  .hero___left-section-container img {
    height: 22rem;
  }
}
